.footer {
  background: #050505;
  color: #fff;
  padding: 2rem 1rem 0.5rem;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-bottom: 2rem;
}

.footer-brand h2 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom: 0.2rem;

  a{
    text-decoration: none;
    
  }
}

.footer-brand span {
  color: var(--gold-dark);
  font-size: 0.7rem;
  letter-spacing: 2px;
}

.footer-brand p {
  color: #888;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  gap: 6rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-column h3 {
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.footer-column a {
  color: #888;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.3s ease;
}

.footer-column a:hover {
  color: var(--gold-dark);
}

.footer-bottom {
  border-top: 1px solid #222;
  padding-top: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #666;
  font-size: 0.75rem;
}

.footer-bottom div {
  display: flex;
  gap: 2rem;
}

.footer-bottom a {
  color: #666;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: white;
}

/* media query for the footer */
@media (max-width: 767px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .footer-links {
    display: flex;
    gap: 3rem;
  }
}

@media (max-width: 530px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .footer-links {
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 470px) {
  .footer-main {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .footer-links {
    gap: 4rem;
  }
}
